/* Modal */
.ReactModalPortal>div {
    opacity: 0;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.514) !important;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.input-info {
    font-size: 11px;
    color: rgba(94, 94, 94, 0.42) !important;
}

/* Datepicker */
.react-datetime-picker__wrapper {
    border: none !important;
}

.border-red {
    border: 1px solid red;
}