.fab {
    border-radius: 50%;
    bottom: 25px;
    font-size: 25px;
    padding: 10px 12px;
    position: fixed;
    right: 25px;
    z-index: 101;
}

.fab-danger {
    bottom: 25px;
    font-size: 15px;
    padding: 10px;
    position: fixed;
    left: 25px;
    z-index: 101;
}